@tailwind base;
@tailwind components;
@tailwind utilities;
  
/* .hover-shadow-white, .hover-shadow-blue {
    transition: text-shadow 0.4s ease-in-out;
}

.hover-shadow-white:hover {
    text-shadow: 2px 2px 12px rgba(255, 255, 255, 0.5);
}

.hover-shadow-blue:hover {
    text-shadow: 2px 2px 25px rgba(59, 130, 246, 0.5); 
} */